doctype html
head
  title DS
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="manifest" href="/manifest.json")
  // <link href="/css/styleFront.css" rel="stylesheet">
  //- link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='icon', href='data:;base64,=')
  script(src='/static/dist/bundleFrontend.js')
  script(src='/static/data/clanData.js')
  script(src='/static/data/dataWarlogCRFile.js')
  
//
  <header class="navHead">
  <a href="/">
  <div class="backImg"></div>
  <img src="/images/logo.png" alt="" class="logoLayout">
  </a>
  <span id="accessBtn"><a href="/login">LogIn</a></span>
  </header>
main.mainContent
  nav.navBar
    a(href="/")
      h1(class="lowerBold")= "Data TREPALIUM Clash Royale"
    div(class="connexion")
      if userName
        div(class="btnForm")
          span(class="lowerBold")= userName
          form(action="user/logout" method="POST")
            button(id="btnDeconnexion" type="submit")= "Déconnexion"
      else  
        button(id="btnCreerCompte")= "Créer un compte"
        button(id="btnIdentifier")= "s'identifier"

  form(action="user/register" method="POST" class="formTrep" id="CreerCompte")
    h2= "Créer un compte"
    p= "Nom"
    input(id='CCname' type="text" name="name")
    p= "Email"
    input(id='CCEmail' type="text" name="email")
    P= "Mot de passe"
    input(id="CCMDP" type="text" name="password")
    P= "Confirmer votre mot de passe"
    input(id="CCCMDP" type="text" name="password2")
    button(id='btnSendCC' type="submit")= "Envoyer"
  
  form(action="/user/login" method="POST" class="formTrep" id="identifier")
    h2= "S'identifier"
    p= "Email"
    input(id='CCEmail' name="email")
    P= "Mot de passe"
    input(id="CCMDP" name="password")
    button(id='btnSendCC' type="submit")= "Envoyer"


  block content

script(src='/static/js/jquery-3.3.1.js')
script(src='/socket.io/socket.io.js')
script.

  

  $(".btnClose").click(function(){
    $(this).parents("div").remove();  
  })

  setTimeout( function(){
    $(".btnClose").parents('div').remove(); 
  } , 5000);

  $("#CreerCompte").hide();

  $("#btnCreerCompte").click(function(){
    $("#identifier").hide();
    $("#CreerCompte").toggle();
  });

  if(typeof messageValid === "undefined" ){
    $("#identifier").hide();
  }

  $("#btnIdentifier").click(function(){
    $("#CreerCompte").hide();
    $("#identifier").toggle();
  });


  var socket = io(); 
  var send = function(){
    var text = document.getElementById('m').value; 
    var message = {
      username,
      msg : text, 
      date: Date.now()
    }; 
    socket.emit('chatMessage', message); 
  }

  var receive = function(msg){
    console.log(msg); 

    // congigurer le retour message. 
    // .... retour Obj message
    var li = document.createElement('li'); 
    var pName = document.createElement('span'); 
    var pMsg = document.createElement('p'); 
    var dateMsg = docuement.createElement('span');

    pName.innerText = msg.name; 
    pMsg.innerText = msg.msg; 
    dateMsg = msg.date; 

    li.setAttribute('class', 'itemMessage'); 

    li.appendChild(pName); 
    li.appendChild(pmsg); 
    li.appendChild(dateMsg); 
    document.getElementById('message').appendChild(li); 


    //- var li = document.createElement('li'); 
    //- li.innerText = msg; 
    //- document.getElementById('message').appendChild(li);
  }

  socket.on('chatMessage', receive); 

  //- console.log(dataCRFile); 

  dataCRFile.memberList.forEach( member => {
      let contentMember = document.getElementsByName(member.tag);
      //- console.log(contentMember); 
      //- console.log(member.tag); 
      memberItem = member.chest.items; 

      memberItem.forEach( chest => {
        //- console.log(chest); 
        let name = chest.name.replace(' ', ''); 
        let div = document.createElement('div');
        div.innerText = chest.index; 
        div.setAttribute('class', `iconChest ${name} UpperBold`); 
        contentMember[0].appendChild(div);
      });  
  }); 

  //console.log(dataWarlogCRFile); 
  Object.keys(dataWarlogCRFile).forEach( memberDataClanWar => {
    let contentDataWarMember = document.getElementsByName('w'+ memberDataClanWar);
    console.log(dataWarlogCRFile[memberDataClanWar]);
    //- contentDataWarMember.[0]
    let listNodes = contentDataWarMember[0].childNodes; 
    listNodes.forEach( block => {
      var nodes = block.querySelectorAll('span');
      var first = nodes[0];
      var last = nodes[nodes.length- 1];
      var propVar = nodes[nodes.length- 1].getAttribute("name").toString();
      console.log(dataWarlogCRFile[memberDataClanWar][propVar]); 
      last.innerText = dataWarlogCRFile[memberDataClanWar][propVar]; 
      last.setAttribute('class', 'UpperBold'); 
      first.setAttribute('class', 'lowerBold'); 
    }); 
    //- contentDataWarMember[0].querySelector('span[name="participation"]').innertext = 9; 
  }); 
  //- dataWarlogCRFile.forEach( memberDataClanWar => {
  //-   let contentMember = document.getElementsByName(memberDataClanWar);
  //-   console.log(contentMember); 
  //-   //- let contentWarclanStat = contentMember.

  //-   let div = document.creatElement('div'); 
    


  //- });  
  //- var json = "#{dataJSON}".replace(/&quot;/g, '"'),
  //- dataJSON = JSON.parse(json);

  
 
  