doctype html
head
  title DS
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // <link href="/css/styleFront.css" rel="stylesheet">
  //- link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='icon', href='data:;base64,=')
  script(src='/static/dist/bundleFrontend.js')
  script(src='/static/data/clanData.js')
  
//
  <header class="navHead">
  <a href="/">
  <div class="backImg"></div>
  <img src="/images/logo.png" alt="" class="logoLayout">
  </a>
  <span id="accessBtn"><a href="/login">LogIn</a></span>
  </header>
main.mainContent
  nav.navBar
    a(href="/")
      h1(class="lowerBold")= "Réseau Social API Clash Royale"
    div
      if userName
        div(class="btnForm")
          span(class="lowerBold")= userName
          form(action="user/logout" method="POST")
            button(id="btnDeconnexion" type="submit")= "Déconnexion"
      else  
        button(id="btnCreerCompte")= "Créer un compte"
        button(id="btnIdentifier")= "s'identifier"

  form(action="user/register" method="POST" class="formTrep" id="CreerCompte")
    h2= "Créer un compte"
    p= "Nom"
    input(id='CCname' type="text" name="name")
    p= "Email"
    input(id='CCEmail' type="text" name="email")
    P= "Mot de passe"
    input(id="CCMDP" type="text" name="password")
    P= "Confirmer votre mot de passe"
    input(id="CCCMDP" type="text" name="password2")
    button(id='btnSendCC' type="submit")= "Envoyer"
  
  form(action="/user/login" method="POST" class="formTrep" id="identifier")
    h2= "S'identifier"
    p= "Email"
    input(id='CCEmail' name="email")
    P= "Mot de passe"
    input(id="CCMDP" name="password")
    button(id='btnSendCC' type="submit")= "Envoyer"


  block content

script(src='/static/js/jquery-3.3.1.js')
script(src='/socket.io/socket.io.js')
script.

  

  $(".btnClose").click(function(){
    $(this).parents("div").remove();  
  })

  setTimeout( function(){
    $(".btnClose").parents('div').remove(); 
  } , 5000);

  $("#CreerCompte").hide();

  $("#btnCreerCompte").click(function(){
    $("#identifier").hide();
    $("#CreerCompte").toggle();
  });

  if(typeof messageValid === "undefined" ){
    $("#identifier").hide();
  }

  $("#btnIdentifier").click(function(){
    $("#CreerCompte").hide();
    $("#identifier").toggle();
  });


  var socket = io(); 
  var send = function(){
    var text = document.getElementById('m').value; 
    socket.emit('chatMessage', text); 
  }

  var receive = function(msg){
    console.log(msg); 
    var li = document.createElement('li'); 
    li.innerText = msg; 
    document.getElementById('message').appendChild(li); 
  }

  socket.on('chatMessage', receive); 

  console.log(dataCRFile); 
  dataCRFile.memberList.forEach( member => {
      let contentMember = document.getElementsByName(member.tag);
      console.log(contentMember); 
      console.log(member.tag); 
      memberItem = member.chest.items; 

      memberItem.forEach( chest => {
        //- console.log(chest); 
        let name = chest.name.replace(' ', ''); 
        let div = document.createElement('div');
        div.innerText = chest.index; 
        div.setAttribute('class', `iconChest ${name}`); 
        contentMember[0].appendChild(div);
      }); 
  })

  //- var json = "#{dataJSON}".replace(/&quot;/g, '"'),
  //- dataJSON = JSON.parse(json);

  
 
  