
extends _layout.pug

block content
	include -receiveMessage.pug	
		
	header.header
		fieldset.headerClan
			legend(class='leftIcon legendClan')
				span(class=" flagClan")
				span(class='nameClan')= data.name
			p(class='descriptionClan')= "RECRUTE de bon tarba prét à faire tomber des tours en GDC 👊"
			p(class='descriptionClan')= "Clan détente 🦉🔞"
			//- p(class='descriptionClan')= data.description
			div(class="rankContent")
				div(class="rightIcon") 
					span(class="iconLeaderBoardClan")
					span(class='lowerBold')= data.clanScore
				div(class="rightIcon") 
					span(class="iconWarTrophyClan")
					span(class='lowerBold')= data.clanWarTrophies

	section(name='membersClan')
		ul.listMember 
			each member in data.memberList
				- var tag = member.tag
				fieldset(class="rowMember")
					div(class="blockItems")
						div(class='blockLadderCards')
							- var arena = member.arena.name
							case arena
								when "Ultimate Champion"	
									div(class="iconLeague ultimateChampion")
										span(class="UpperBold")= member.trophies
								when "Grand Champion"
									div(class="iconLeague grandChampion")
										span(class="UpperBold")= member.trophies
								when "Champion"
									div(class="iconLeague champion")
										span(class="UpperBold")= member.trophies
								when "Master III"
									div(class="iconLeague master3")
										span(class="UpperBold")= member.trophies
								when "Master II"
									div(class="iconLeague master2")
										span(class="UpperBold")= member.trophies
								when "Master I"
									div(class="iconLeague master1")
										span(class="UpperBold")= member.trophies
								when "Challenger III"
									div(class="iconLeague challenger3")
										span(class="UpperBold")= member.trophies
								when "Challenger II"
									div(class="iconLeague challenger2")
										span(class="UpperBold")= member.trophies
								when "Challenger I"
									div(class="iconLeague challenger1")
										span(class="UpperBold")= member.trophies
							
							- var cardsMember = member.currentDeck
							div(class="blockDeck")
								each cards in cardsMember
									img(src=cards.iconUrls.medium)

						
						- var wname = 'w'+ member.tag
						div(class="warlog")
							div(class="iconLeague iconWarlog")
								span(class="UpperBold")= member.warDayWins
								
							div(class="contentDataWar" name=wname)
								div(class="dataWar")
									span= "Participation"
									span(name="numberOfBattles")
								div(class="dataWar")
									span= "Final Played"
									span(name="battlesPlayed")
								div(class="dataWar")
									span= "Final Lost"
									span(name="lost")
								div(class="dataWar")
									span= "Final Win"
									span(name="wins")
								div(class="dataWar")
									span= "Collection Played"
									span(name="collectionDayBattlesPlayed")
								div(class="dataWar")
									span= "Cards Collected"
									span(name="cardsEarned")
									
					div(class="chest" name=tag)

					legend
						div(class="rightIcon") 
							span(class="UpperBold")= member.name
							- var explevel = "expLevel" + member.expLevel
							span(class=explevel) 
							span(class="roleClan")= member.role

	section.chat
		ul(id="message")
		div
			input(id="m")
			if(userName)
				button(onclick='send()') envoyer
			else
				button(class="btnDisable") envoyer
	
				